/* Main CSS Styles */

body {
  font-family: 'Lato', sans-serif;
  background-color: #85dcff;
  /* background-image: linear-gradient(to bottom, #85dcff, #859fff, #a885ff, #e585ff, #ff85dc, #ff859f); */
  background-image: linear-gradient(to bottom, #85dcff, #859fff, #a885ff);
  background-attachment: fixed;
}

main {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  margin: 4em auto;
  max-width: 40em;
}

.content {
  padding: 1em 3em;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
}

p {
  text-align: justify;
}

.avatar {
  width: 100%;
  max-width: 15em;
  border-radius: 50%;
  margin: 1.5em auto;
  display: block;
}

ul {
  list-style: none;
  text-align: center;
  margin: 1.5em auto;
}

li {
  display: inline-block;
}

.biography li+li:before {
  content: "| ";
}

.social-media .fa {
  font-size: 2.5em;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
  margin: 0.175em 0.175em;
  background-color: #3498DB;
}

.social-media .fa {
  color: #ffffff;
}

.social-media .fa-facebook {
  background-color: #3b5998;
}

.social-media .fa-twitter {
  background-color: #00b6f1;
}

.social-media .fa-linkedin {
  background-color: #007bb6;
}

.social-media .fa-instagram {
  background-color: #c32aa3;
}

.social-media .fa-wordpress {
  background-color: #21759b;
}

.social-media .fa-flickr {
  background-color: #f40083;
}

.social-media .fa-flickr:hover, .social-media .fa-flickr:active {
  background-color: #006add;
}

.social-media .fa-envelope-o {
  background-color: #a0a0a0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  main {
    margin: 1em auto;
  }
  .content {
    padding: 1em;
  }
}
